snippet tabrow
E-|-----------------------------------------------------------------------------
B-|-----------------------------------------------------------------------------
G-|-----------------------------------------------------------------------------
D-|-----------------------------------------------------------------------------
A-|-----------------------------------------------------------------------------
E-|-----------------------------------------------------------------------------
endsnippet

snippet tabrow_measures
E-|--------|---------|---------|---------
B-|--------|---------|---------|---------
G-|--------|---------|---------|---------
D-|--------|---------|---------|---------
A-|--------|---------|---------|---------
E-|--------|---------|---------|---------
endsnippet

snippet single_chord
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
endsnippet

snippet chordrow4
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
endsnippet
