snippet tabrow
E-|-----------------------------------------------------------------------------
B-|-----------------------------------------------------------------------------
G-|-----------------------------------------------------------------------------
D-|-----------------------------------------------------------------------------
A-|-----------------------------------------------------------------------------
E-|-----------------------------------------------------------------------------
endsnippet


snippet single_chord
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
endsnippet
