snippet tabrow
E-|------------------------------------------------------------------
B-|------------------------------------------------------------------
G-|------------------------------------------------------------------
D-|------------------------------------------------------------------
A-|------------------------------------------------------------------
E-|------------------------------------------------------------------
endsnippet

snippet chord
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
|_|_|_|_|_|
endsnippet

snippet chordrow
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
|_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|   |_|_|_|_|_|
endsnippet
