snippet header
<header>
  $1
</header>
endsnippet

snippet c
<!--$0-->
endsnippet

snippet option
<option value="$1">$0</option>
endsnippet

snippet input
<input type="$1" name="$2" value="$3">
endsnippet

snippet label
<label for="$1">$0</label>
endsnippet
